USE [master]
GO
/****** Object:  Database [CPDB]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE DATABASE [CPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CPDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CPDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CPDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CPDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CPDB]
GO
/****** Object:  User [copilotadmin]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE USER [copilotadmin] FOR LOGIN [copilotadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [copilotadmin]
GO
/****** Object:  Table [dbo].[ac_applications]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ac_applications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[description] [varchar](500) NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK_AC_APPLICATIONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ac_audit_log]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ac_audit_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[engineer_id] [int] NULL,
	[application_id] [int] NULL,
	[action] [nvarchar](255) NULL,
	[old_status] [nvarchar](max) NULL,
	[new_status] [nvarchar](max) NULL,
	[remarks] [nvarchar](max) NULL,
	[performed_by] [nvarchar](255) NULL,
	[performed_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AC_AUDIT_LOG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ac_engineer_application_access]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ac_engineer_application_access](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[engineer_id] [int] NOT NULL,
	[application_id] [int] NOT NULL,
	[access_status] [varchar](30) NOT NULL,
	[verification_status] [varchar](30) NOT NULL,
	[last_verified_date] [datetime2](0) NULL,
	[remarks] [varchar](2000) NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[arm_ticket] [varchar](100) NULL,
	[ticket_status] [varchar](30) NOT NULL,
	[next_reminder_date] [datetime2](7) NULL,
	[last_email_sent_at] [datetime2](7) NULL,
	[email_count] [int] NOT NULL,
 CONSTRAINT [PK_AC_ENGINEER_APPLICATION_ACCESS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ac_engineers]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ac_engineers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[email] [varchar](200) NULL,
	[level] [varchar](20) NOT NULL,
	[rm_email] [varchar](200) NULL,
	[active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[verification_token] [varchar](100) NULL,
	[alias] [varchar](100) NULL,
	[role] [varchar](20) NOT NULL,
	[supervisor_id] [int] NULL,
 CONSTRAINT [PK_AC_ENGINEERS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ac_notification_log]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ac_notification_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[engineer_id] [int] NOT NULL,
	[access_id] [int] NULL,
	[notification_type] [varchar](30) NOT NULL,
	[recipient_email] [varchar](255) NOT NULL,
	[cc_email] [varchar](255) NULL,
	[subject] [varchar](500) NULL,
	[sent_at] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
	[error_message] [varchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ac_portal_settings]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ac_portal_settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[setting_key] [varchar](100) NOT NULL,
	[setting_value] [varchar](500) NOT NULL,
	[description] [varchar](500) NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[updated_by] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Department] [nvarchar](50) NULL,
	[Salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GatewayStatus]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GatewayStatus](
	[GatewayID] [int] IDENTITY(1,1) NOT NULL,
	[GatewayName] [varchar](100) NULL,
	[IPAddress] [varchar](20) NULL,
	[Status] [varchar](20) NULL,
	[LastChecked] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GatewayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HR]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR](
	[Name] [varchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[DOJ] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[PhoneID] [int] IDENTITY(1,1) NOT NULL,
	[DeviceName] [varchar](50) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PhoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrder]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrder](
	[OrderID] [int] NOT NULL,
	[CustomerName] [varchar](100) NULL,
	[ProductName] [varchar](100) NULL,
	[OrderAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ac_applications] ON 

INSERT [dbo].[ac_applications] ([id], [name], [description], [active]) VALUES (3, N'NG2 Splunk', N'NG2 Splunk access', 1)
INSERT [dbo].[ac_applications] ([id], [name], [description], [active]) VALUES (4, N'MatterMost', N'MatterMost collaboration application', 1)
INSERT [dbo].[ac_applications] ([id], [name], [description], [active]) VALUES (5, N'Add and Revoke Access to CUCM/CUC', N'CUCM and Unity Connection access management', 1)
SET IDENTITY_INSERT [dbo].[ac_applications] OFF
GO
SET IDENTITY_INSERT [dbo].[ac_audit_log] ON 

INSERT [dbo].[ac_audit_log] ([id], [engineer_id], [application_id], [action], [old_status], [new_status], [remarks], [performed_by], [performed_at]) VALUES (1, 12, 17, N'VERIFICATION_STATUS_CHANGED', N'Pending', N'Verified', NULL, N'vbhat', CAST(N'2026-08-22T01:29:23.9433333' AS DateTime2))
INSERT [dbo].[ac_audit_log] ([id], [engineer_id], [application_id], [action], [old_status], [new_status], [remarks], [performed_by], [performed_at]) VALUES (2, 12, 19, N'REMARKS_UPDATED', NULL, NULL, N'Hello', N'vbhat', CAST(N'2026-08-22T02:13:35.3633333' AS DateTime2))
INSERT [dbo].[ac_audit_log] ([id], [engineer_id], [application_id], [action], [old_status], [new_status], [remarks], [performed_by], [performed_at]) VALUES (3, 12, 19, N'VERIFICATION_STATUS_CHANGED', N'Pending', N'Verified', N'Hello', N'vbhat', CAST(N'2026-08-22T02:13:41.2366667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ac_audit_log] OFF
GO
SET IDENTITY_INSERT [dbo].[ac_engineer_application_access] ON 

INSERT [dbo].[ac_engineer_application_access] ([id], [engineer_id], [application_id], [access_status], [verification_status], [last_verified_date], [remarks], [updated_at], [arm_ticket], [ticket_status], [next_reminder_date], [last_email_sent_at], [email_count]) VALUES (12, 7, 3, N'Required', N'Pending', NULL, NULL, CAST(N'2026-08-21T03:48:05.1000000' AS DateTime2), NULL, N'Not Required', NULL, NULL, 0)
INSERT [dbo].[ac_engineer_application_access] ([id], [engineer_id], [application_id], [access_status], [verification_status], [last_verified_date], [remarks], [updated_at], [arm_ticket], [ticket_status], [next_reminder_date], [last_email_sent_at], [email_count]) VALUES (13, 43, 3, N'Required', N'Pending', NULL, NULL, CAST(N'2026-08-21T03:48:05.1000000' AS DateTime2), NULL, N'Not Required', NULL, NULL, 0)
INSERT [dbo].[ac_engineer_application_access] ([id], [engineer_id], [application_id], [access_status], [verification_status], [last_verified_date], [remarks], [updated_at], [arm_ticket], [ticket_status], [next_reminder_date], [last_email_sent_at], [email_count]) VALUES (14, 42, 3, N'Required', N'Pending', NULL, NULL, CAST(N'2026-08-21T03:48:05.1000000' AS DateTime2), NULL, N'Not Required', NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[ac_engineer_application_access] OFF
GO
SET IDENTITY_INSERT [dbo].[ac_engineers] ON 

INSERT [dbo].[ac_engineers] ([id], [name], [email], [level], [rm_email], [active], [created_at], [verification_token], [alias], [role], [supervisor_id]) VALUES (1, N'Akshay Kumar Sharma', NULL, N'L2', NULL, 1, CAST(N'2026-08-21T03:42:34.8433333' AS DateTime2), N'ZUNa7sqLEW9PTt_uge7TLocuBq_fCiIT5dzlBR9-eOY', N'aksharma', N'USER', 1)
INSERT [dbo].[ac_engineers] ([id], [name], [email], [level], [rm_email], [active], [created_at], [verification_token], [alias], [role], [supervisor_id]) VALUES (2, N'Nibedita Singh', NULL, N'L2', NULL, 1, CAST(N'2026-08-21T03:42:34.8433333' AS DateTime2), N'IAm5Iyrwhvh6WMrzcoxaXMPM6diEkJ6FgSbtP7iuvII', N'nibsingh', N'USER', 1)
INSERT [dbo].[ac_engineers] ([id], [name], [email], [level], [rm_email], [active], [created_at], [verification_token], [alias], [role], [supervisor_id]) VALUES (3, N'Nikhilesh Sharma', NULL, N'L2', NULL, 1, CAST(N'2026-08-21T03:42:34.8433333' AS DateTime2), N'NFh3mg9qP3IXtKZVwMUH9ItDGc_N5hBr8Eq26hlJMeE', N'nsharma', N'USER', 1)
SET IDENTITY_INSERT [dbo].[ac_engineers] OFF
GO
SET IDENTITY_INSERT [dbo].[ac_portal_settings] ON 

INSERT [dbo].[ac_portal_settings] ([id], [setting_key], [setting_value], [description], [updated_at], [updated_by]) VALUES (1, N'reminder_days', N'20', N'Number of days between access verification reminder emails', CAST(N'2026-08-22T00:42:57.5870525' AS DateTime2), N'supervisor_alias')
SET IDENTITY_INSERT [dbo].[ac_portal_settings] OFF
GO
INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [Email], [Department], [Salary]) VALUES (1, N'John', N'Smith', N'john.smith@test.com', N'IT', CAST(75000.00 AS Decimal(10, 2)))
INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [Email], [Department], [Salary]) VALUES (2, N'Sarah', N'Johnson', N'sarah.j@test.com', N'HR', CAST(65000.00 AS Decimal(10, 2)))
INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [Email], [Department], [Salary]) VALUES (3, N'Michael', N'Brown', N'michael.b@test.com', N'Finance', CAST(80000.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[GatewayStatus] ON 

INSERT [dbo].[GatewayStatus] ([GatewayID], [GatewayName], [IPAddress], [Status], [LastChecked]) VALUES (1, N'CUBE-HQ', N'10.1.1.1', N'Up', CAST(N'2026-06-04T08:15:59.180' AS DateTime))
INSERT [dbo].[GatewayStatus] ([GatewayID], [GatewayName], [IPAddress], [Status], [LastChecked]) VALUES (2, N'VG-BRANCH', N'10.1.1.2', N'Down', CAST(N'2026-06-04T08:15:59.180' AS DateTime))
SET IDENTITY_INSERT [dbo].[GatewayStatus] OFF
GO
INSERT [dbo].[HR] ([Name], [Email], [Status], [DOJ]) VALUES (N'Tarun', N'tataneja@disco.com', N'selected ', CAST(N'2026-04-21' AS Date))
INSERT [dbo].[HR] ([Name], [Email], [Status], [DOJ]) VALUES (N'Imran', N'Imran@disco.com', N'Rejected ', CAST(N'2026-04-24' AS Date))
INSERT [dbo].[HR] ([Name], [Email], [Status], [DOJ]) VALUES (N'Akhil', N'Akhil@disco.com', N'selected ', CAST(N'2026-04-28' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Phones] ON 

INSERT [dbo].[Phones] ([PhoneID], [DeviceName], [Status]) VALUES (1, N'SEP001122334455', N'Registered')
INSERT [dbo].[Phones] ([PhoneID], [DeviceName], [Status]) VALUES (2, N'SEP001122334456', N'Unregistered')
SET IDENTITY_INSERT [dbo].[Phones] OFF
GO
INSERT [dbo].[SalesOrder] ([OrderID], [CustomerName], [ProductName], [OrderAmount]) VALUES (2, N'Kumar Rohan', N'Iron', CAST(40.00 AS Decimal(10, 2)))
INSERT [dbo].[SalesOrder] ([OrderID], [CustomerName], [ProductName], [OrderAmount]) VALUES (5, N'Tarun', N'Mobile', CAST(10000.00 AS Decimal(10, 2)))
INSERT [dbo].[SalesOrder] ([OrderID], [CustomerName], [ProductName], [OrderAmount]) VALUES (6, N'Imran', N'TV', CAST(20000.00 AS Decimal(10, 2)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AC_APPLICATIONS_NAME]    Script Date: 8/22/2026 9:57:23 PM ******/
ALTER TABLE [dbo].[ac_applications] ADD  CONSTRAINT [UQ_AC_APPLICATIONS_NAME] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ac_audit_log_engineer_application]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ac_audit_log_engineer_application] ON [dbo].[ac_audit_log]
(
	[engineer_id] ASC,
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ac_audit_log_performed_at]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ac_audit_log_performed_at] ON [dbo].[ac_audit_log]
(
	[performed_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_AC_ENGINEER_APPLICATION]    Script Date: 8/22/2026 9:57:23 PM ******/
ALTER TABLE [dbo].[ac_engineer_application_access] ADD  CONSTRAINT [UQ_AC_ENGINEER_APPLICATION] UNIQUE NONCLUSTERED 
(
	[engineer_id] ASC,
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ac_eaa_engineer_application]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ac_eaa_engineer_application] ON [dbo].[ac_engineer_application_access]
(
	[engineer_id] ASC,
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ac_eaa_next_reminder_date]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ac_eaa_next_reminder_date] ON [dbo].[ac_engineer_application_access]
(
	[next_reminder_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ac_eaa_ticket_status]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ac_eaa_ticket_status] ON [dbo].[ac_engineer_application_access]
(
	[ticket_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ac_eaa_verification_status]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ac_eaa_verification_status] ON [dbo].[ac_engineer_application_access]
(
	[verification_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ac_engineers_alias]    Script Date: 8/22/2026 9:57:23 PM ******/
ALTER TABLE [dbo].[ac_engineers] ADD  CONSTRAINT [UQ_ac_engineers_alias] UNIQUE NONCLUSTERED 
(
	[alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AC_ENGINEERS_NAME_LEVEL]    Script Date: 8/22/2026 9:57:23 PM ******/
ALTER TABLE [dbo].[ac_engineers] ADD  CONSTRAINT [UQ_AC_ENGINEERS_NAME_LEVEL] UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[level] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ac_engineers_supervisor_id]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ac_engineers_supervisor_id] ON [dbo].[ac_engineers]
(
	[supervisor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_AC_ENGINEERS_EMAIL]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_AC_ENGINEERS_EMAIL] ON [dbo].[ac_engineers]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ac_engineers_verification_token]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ac_engineers_verification_token] ON [dbo].[ac_engineers]
(
	[verification_token] ASC
)
WHERE ([verification_token] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ac_notification_log_access_id]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ac_notification_log_access_id] ON [dbo].[ac_notification_log]
(
	[access_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ac_notification_log_engineer_id]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ac_notification_log_engineer_id] ON [dbo].[ac_notification_log]
(
	[engineer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ac_notification_log_status_sent_at]    Script Date: 8/22/2026 9:57:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ac_notification_log_status_sent_at] ON [dbo].[ac_notification_log]
(
	[status] ASC,
	[sent_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ac_portal_settings_key]    Script Date: 8/22/2026 9:57:23 PM ******/
ALTER TABLE [dbo].[ac_portal_settings] ADD  CONSTRAINT [UQ_ac_portal_settings_key] UNIQUE NONCLUSTERED 
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ac_applications] ADD  CONSTRAINT [DF_AC_APPLICATIONS_ACTIVE]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[ac_audit_log] ADD  CONSTRAINT [DF_AC_AUDIT_PERFORMED]  DEFAULT (getdate()) FOR [performed_at]
GO
ALTER TABLE [dbo].[ac_engineer_application_access] ADD  CONSTRAINT [DF_AC_ACCESS_STATUS]  DEFAULT ('Pending') FOR [access_status]
GO
ALTER TABLE [dbo].[ac_engineer_application_access] ADD  CONSTRAINT [DF_AC_VERIFICATION_STATUS]  DEFAULT ('Pending') FOR [verification_status]
GO
ALTER TABLE [dbo].[ac_engineer_application_access] ADD  CONSTRAINT [DF_AC_ACCESS_UPDATED]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ac_engineer_application_access] ADD  CONSTRAINT [DF_ac_eaa_ticket_status]  DEFAULT ('Request Not Initiated') FOR [ticket_status]
GO
ALTER TABLE [dbo].[ac_engineer_application_access] ADD  CONSTRAINT [DF_ac_eaa_email_count]  DEFAULT ((0)) FOR [email_count]
GO
ALTER TABLE [dbo].[ac_engineers] ADD  CONSTRAINT [DF_AC_ENGINEERS_ACTIVE]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[ac_engineers] ADD  CONSTRAINT [DF_AC_ENGINEERS_CREATED]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ac_engineers] ADD  CONSTRAINT [DF_ac_engineers_role]  DEFAULT ('USER') FOR [role]
GO
ALTER TABLE [dbo].[ac_notification_log] ADD  CONSTRAINT [DF_ac_notification_log_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ac_portal_settings] ADD  CONSTRAINT [DF_ac_portal_settings_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ac_audit_log]  WITH CHECK ADD  CONSTRAINT [FK_AC_AUDIT_APPLICATION] FOREIGN KEY([application_id])
REFERENCES [dbo].[ac_applications] ([id])
GO
ALTER TABLE [dbo].[ac_audit_log] CHECK CONSTRAINT [FK_AC_AUDIT_APPLICATION]
GO
ALTER TABLE [dbo].[ac_audit_log]  WITH CHECK ADD  CONSTRAINT [FK_AC_AUDIT_ENGINEER] FOREIGN KEY([engineer_id])
REFERENCES [dbo].[ac_engineers] ([id])
GO
ALTER TABLE [dbo].[ac_audit_log] CHECK CONSTRAINT [FK_AC_AUDIT_ENGINEER]
GO
ALTER TABLE [dbo].[ac_engineer_application_access]  WITH CHECK ADD  CONSTRAINT [FK_AC_ACCESS_APPLICATION] FOREIGN KEY([application_id])
REFERENCES [dbo].[ac_applications] ([id])
GO
ALTER TABLE [dbo].[ac_engineer_application_access] CHECK CONSTRAINT [FK_AC_ACCESS_APPLICATION]
GO
ALTER TABLE [dbo].[ac_engineer_application_access]  WITH CHECK ADD  CONSTRAINT [FK_AC_ACCESS_ENGINEER] FOREIGN KEY([engineer_id])
REFERENCES [dbo].[ac_engineers] ([id])
GO
ALTER TABLE [dbo].[ac_engineer_application_access] CHECK CONSTRAINT [FK_AC_ACCESS_ENGINEER]
GO
ALTER TABLE [dbo].[ac_engineers]  WITH CHECK ADD  CONSTRAINT [FK_ac_engineers_supervisor] FOREIGN KEY([supervisor_id])
REFERENCES [dbo].[ac_engineers] ([id])
GO
ALTER TABLE [dbo].[ac_engineers] CHECK CONSTRAINT [FK_ac_engineers_supervisor]
GO
ALTER TABLE [dbo].[ac_notification_log]  WITH CHECK ADD  CONSTRAINT [FK_ac_notification_log_access] FOREIGN KEY([access_id])
REFERENCES [dbo].[ac_engineer_application_access] ([id])
GO
ALTER TABLE [dbo].[ac_notification_log] CHECK CONSTRAINT [FK_ac_notification_log_access]
GO
ALTER TABLE [dbo].[ac_notification_log]  WITH CHECK ADD  CONSTRAINT [FK_ac_notification_log_engineer] FOREIGN KEY([engineer_id])
REFERENCES [dbo].[ac_engineers] ([id])
GO
ALTER TABLE [dbo].[ac_notification_log] CHECK CONSTRAINT [FK_ac_notification_log_engineer]
GO
ALTER TABLE [dbo].[ac_engineer_application_access]  WITH CHECK ADD  CONSTRAINT [CK_ac_eaa_remarks_length] CHECK  (([remarks] IS NULL OR len([remarks])<=(200)))
GO
ALTER TABLE [dbo].[ac_engineer_application_access] CHECK CONSTRAINT [CK_ac_eaa_remarks_length]
GO
ALTER TABLE [dbo].[ac_engineer_application_access]  WITH CHECK ADD  CONSTRAINT [CK_ac_eaa_ticket_status] CHECK  (([ticket_status]='Completed' OR [ticket_status]='Approval Pending' OR [ticket_status]='Not Required' OR [ticket_status]='Request Not Initiated'))
GO
ALTER TABLE [dbo].[ac_engineer_application_access] CHECK CONSTRAINT [CK_ac_eaa_ticket_status]
GO
ALTER TABLE [dbo].[ac_notification_log]  WITH CHECK ADD  CONSTRAINT [CK_ac_notification_log_status] CHECK  (([status]='FAILED' OR [status]='SENT'))
GO
ALTER TABLE [dbo].[ac_notification_log] CHECK CONSTRAINT [CK_ac_notification_log_status]
GO
ALTER TABLE [dbo].[ac_notification_log]  WITH CHECK ADD  CONSTRAINT [CK_ac_notification_log_type] CHECK  (([notification_type]='REMINDER' OR [notification_type]='INITIAL'))
GO
ALTER TABLE [dbo].[ac_notification_log] CHECK CONSTRAINT [CK_ac_notification_log_type]
GO
/****** Object:  StoredProcedure [dbo].[Sp_InsertHrprocess]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_InsertHrprocess]
(
    @Name VARCHAR(50),
    @Email NVARCHAR(50),
    @Status NVARCHAR(50),
    @DOJ DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO [dbo].[HR]
    (
        [Name],
        [Email],
        [Status],
        [DOJ]
    )
    VALUES
    (
        @Name,
        @Email,
        @Status,
        @DOJ
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_reset_expired_access_verification]    Script Date: 8/22/2026 9:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_reset_expired_access_verification]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ac_engineer_application_access
    SET
        verification_status = 'Pending',
        remarks = NULL,
        last_verified_date = NULL
    WHERE
        last_verified_date IS NOT NULL
        AND last_verified_date <= DATEADD(
            DAY,
            -15,
            GETDATE()
        );

    SELECT
        @@ROWCOUNT AS ResetRecords;
END;
GO
USE [master]
GO
